<button class="btn-default animation-on-browser" type="button" (click)="loginSpotify();">Connexion</button>

<div class="col-lg-8">
  <!-- Si on est connecté on affiche Spotify -->
    <div class="card card-chart">
      <div class="card-header">
        <!-- Recherche des sons -->
        <h4> <div id="nom_user">  </div> </h4>
        <h3> Saisir artiste / titre : &nbsp; <input id="son"  required> &nbsp; &nbsp; &nbsp; <button class="btn btn-success animation-on-hover" type="button"  (click)="chercherSons();"> Rechercher </button> </h3>
      </div>
      <!-- Relié au javascript permettant de charger les résultats de la requête -->
      <div class="container">
        <div class="row">
          <div id="song_0" class="col"></div>
          <div id="song_1" class="col"></div>
        </div>
        <div class="row">
          <div id="song_2" class="col"></div>
          <div id="song_3" class="col"></div>
        </div>
        <div class="row">
          <div id="song_4" class="col"></div>
          <div id="song_5" class="col"></div>
        </div>
        <div class="row">
          <div id="song_6" class="col"></div>
          <div id="song_7" class="col"></div>
        </div>
      </div>
    </div>
  </div>
